<div id='lms-report-menu'>
  <a href='<%= month_lms_reports_path %>' class="<%= action_name.eql?('month') ? 'active' : '' %>">Monthly</a>
  <a href='<%= ytd_lms_reports_path %>' class="<%= action_name.eql?('ytd') ? 'active' : '' %>">YTD</a>
  <a href='<%= year_lms_reports_path %>' class="<%= action_name.eql?('year') ? 'active' : '' %>">Yearly</a>
</div>